numpy
scipy
pandas
scikit-learn
matplotlib
tqdm

transformers
accelerate
peft
datasets
huggingface_hub
safetensors
sentencepiece
sentence-transformers

bert-score
rouge-score

spacy
scispacy

bitsandbytes